.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  background-color: $grey;
  color: white;
  font-weight: 400;
  font-size: 0.88em;
}

th:first-of-type {
  border-top-left-radius: 5px !important;
}

th:last-of-type {
  border-top-right-radius: 5px !important;
}

tbody {
  background-color: $light-grey;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  color: $black;
}
