$sixteen-px-to-em: 1em;

.nav-bar-font, .white-border-text-btn {
  font-size: $sixteen-px-to-em !important;
}

.hero-title {
  font-size: 4.5em;
}

.hero-subtitle, .download-button, .content-title {
  font-size: 2.25em;
}

.download-button, .contact-us, .contact-email {
  letter-spacing: -1px;
}

.image-caption-subtitle, .footer {
  font-size: 0.88em;
}

.contact-us {
  font-size: 1.88em;
}
