.nav-bar-font, .white-border-text-btn {
  font-size: 1em !important;
}

.hero-title {
  font-size: 4.5em;
}

.hero-subtitle, .download-button, .content-title {
  font-size: 2.25em;
}

.download-button,
.contact-us,
.contact-email,
.drawer-contact-us,
.content-body-header {
  letter-spacing: -1px;
}

.add-patient-button {
  letter-spacing: 0.5px;
}

.image-caption-subtitle, .footer, .user-role, .list-item-title, .table-menu-item {
  font-size: 0.88em !important;
}

.contact-us {
  font-size: 1.88em;
}

.drawer-contact-us {
  font-size: 0.75em !important;
}
