$sixteen-px-to-em: 1em;

.nav-bar-font {
  font-size: $sixteen-px-to-em !important;
}

.hero-title, .hero-subtitle {
  color: $white !important;
}

.hero-title {
  font-size: 4.5em;
}

.hero-subtitle {
  font-size: 2.25em;
}
